[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dj-database-url = "==0.5.0"
django = "==2.0"
pytz = "==2018.3"
"psycopg2" = "*"
gunicorn = "*"
django-heroku = "*"


[dev-packages]

